

.root {
  width: 100%;
  height: 100vh;
  margin: 0;
  text-align: center;
  display: grid;
  
}

.background {
  background-image: url(./assets/INICIO.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  overflow: hidden;

  height: 100%;
}